[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "jtools"]
	path = jtools
	url = https://github.com/jacob-long/jtools
	shallow = true
	registered = true
[submodule "interactions"]
	path = interactions
	url = https://github.com/jacob-long/interactions
	shallow = true
	registered = true
[submodule "panelr"]
	path = panelr
	url = https://github.com/jacob-long/panelr
	shallow = true
	registered = true
