[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dpm"]
	path = dpm
	url = https://github.com/jacob-long/dpm
[submodule "interactions"]
	path = interactions
	url = https://github.com/jacob-long/interactions
[submodule "jtools"]
	path = jtools
	url = https://github.com/jacob-long/jtools
[submodule "panelr"]
	path = panelr
	url = https://github.com/jacob-long/panelr
